In [85]:
import pandas as pd

In [86]:
a: pd.DataFrame = pd.read_csv("../../../julius/_rust/rustxnorm/output/cossim_matches.csv")
b: pd.DataFrame = pd.read_csv("../../../julius/_rust/rustxnorm/data/s1_drug_name_list_unique.csv")

In [130]:
INDEX = 0

In [131]:
indices = a.loc[a["index"] == INDEX].index

In [132]:
matches = list(a.iloc[indices][' match_idx'])

In [133]:
matches

[12396, 86714, 34449, 18177, 114086, 120839, 197284, 24874, 11162]

In [134]:
b.iloc[INDEX]

drug_name    ETOPOSIDE
Name: 0, dtype: object

In [135]:
b.iloc[matches]

                                    drug_name
12396                     ETOPOSIDE ETOPOSIDE
86714                    ETOPOSIDE  ETOPOSIDE
34449           ETOPOSIDE ETOPOSIDE ETOPOSIDE
18177   ETOPOSIDE ETOPOSIDE UNKNOWN ETOPOSIDE
114086                           ETOPOSIDE MG
120839                          ETOPOSIDE  MG
197284                         ETOPOSIDE   MG
24874                ETOPOSIDE TEVA ETOPOSIDE
11162                                ETOPOSID

In [154]:
reduced = a.iloc[:, 0].value_counts()

In [155]:
reduced_dict = reduced.to_dict()

In [156]:
import matplotlib.pyplot as plt

In [161]:
reduced_indices = reduced.index

In [163]:
reduced_names = b.iloc[reduced_indices]

In [164]:
reduced_names

                                                drug_name
0                                               ETOPOSIDE
212217                        METAMIZOL METAMIZOLE SODIUM
59865   SULFAMETHOXAZOLE AND TRIMETHOPRIM SULFAMETHOXA...
66750              MORPHINE CONCENTRATE MORPHINE MORPHINE
49628            ALUMINIUM HYDROXIDE WMAGNESIUM HYDROXIDE
...                                                   ...
36985                                          NIFEDITINE
13771                                    CALCIUM RESONIUM
85504                                  ORAL HYPOGLYCEMICS
3532                                               PLASIL
204679                FLUTICASON FLIXONASE UGDO NEUSSPRAY

[83384 rows x 1 columns]